<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>logdate</fieldName>
                    <timeZone>America/Sao_Paulo</timeZone>
                    <pattern>yyyy-MM-dd' 'HH:mm:ss.SSS</pattern>
                </timestamp>

                <version>
                    <fieldName>version</fieldName>
                </version>

                <message>
                    <fieldName>logmessage</fieldName>
                </message>

                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>

                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>

                <logLevel>
                    <fieldName>severity</fieldName>
                </logLevel>

                <stackTrace>
                    <fieldName>stackTrace</fieldName>
                </stackTrace>

                <context />
                <mdc />

                <!-- provides the fields in the configured pattern -->
                <pattern>
                    <omitEmptyFields>true</omitEmptyFields>
                    <!-- the pattern that defines what to include -->
                    <pattern />
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
